services:
  - type: web
    name: FormToWhats-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        fromDatabase: MONGO_URI
